auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  instance_addr: 127.0.0.1
  path_prefix: /data/loki 
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

storage_config:
  filesystem:
    directory: /data/loki/chunks

schema_config:
  configs:
    - from: 2020-10-24
      store: tsdb
      object_store: filesystem
      schema: v13
      index:
        prefix: index_ 
        period: 24h

ruler:
  storage:
    filesystem:
      directory: /data/loki/rules

compactor:
  working_directory: /data/loki/compactor
  retention_enabled: true
  compaction_interval: 10m
  retention_delete_delay: 2h

limits_config:
  retention_period: 7d 
  reject_old_samples: false 
  max_global_streams_per_user: 0
  ingestion_rate_mb: 50000
  ingestion_burst_size_mb: 50000
  volume_enabled: true

query_range:
  results_cache:
    cache:
      embedded_cache:
        enabled: true
        max_size_mb: 100

analytics:
  reporting_enabled: false